body {
  font-family: "Azeret Mono", monospace;
}

/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  border: 2px solid red;
}

.navbar-container {
  border: 2px solid rebeccapurple;
}

.navbar-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 780px;
  margin: 20px;
  padding: 10px;
}

.navbar-container ul li {
  list-style: none;
}

.navbar-container ul li .heading-name {
  text-decoration: none;

  width: 114px;
  height: 34px;
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar-container ul li a .download-btn {
  width: 228px;
  height: 58px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
